.ninja_log
CMakeCache.txt
CMakeFiles
build.ninja
cmake_install.cmake
libmumble.a
mumble-test
mumble-demo
rules.ninja
3rdparty/yasm/yasm.exe
test/
build/android/libs
build/android/obj
build/android/jni/Android.mk
build/android/jni/libmumble*.mk
build/android/jni/3rdparty