[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = git://github.com/mkrautz/libuv.git
[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = https://git.chromium.org/git/external/gtest.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = git://openssl.net/openssl
[submodule "3rdparty/gyp"]
	path = 3rdparty/gyp
	url = git://github.com/mkrautz/gyp-libmumble.git
